<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>XChange | denolk</title>

    <link href="~/Content/Styles/reset.css" rel="stylesheet" />

    <link href="~/Content/Styles/jquery.metroui.css" rel="stylesheet" />
    <script src="~/Content/Scripts/jquery.js"></script>
    <script src="~/Content/Scripts/jquery.metroui.js"></script>

    <script src="~/Content/Scripts/jquery.apprise.js"></script>
    <link href="~/Content/Styles/jquery.apprise.css" rel="stylesheet" />
    
    <link href="~/Content/Styles/site.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>